div {
  margin-bottom: 10px;
  position: relative;
}

select:invalid {
  color: gray;
}

input[type="number"] {
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5vh;
  padding: 1vh;
  border:0.5vh double black;
  background-color: #dd7d7273;
}

body {
  background-color: #b9574c;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}